.container {
  max-width: 90% !important;
  margin: auto;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1110px !important;
  }
}

header ul li {
  position: relative;
}

header ul li a {
  padding: 16px 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  transition: all 0.3s ease;
}

header ul li a:hover {
  color: #ff6200;
}

header ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: perspective(999px) rotateX(0deg) translateZ(0)
    translate3d(0, 1px, 0) !important;
}

/* ------------------Dropdown---------------- */
.dropdown {
  z-index: 99;
  position: absolute;
  background: #fff;
  min-width: 180px;
  width: max-content;
  top: 100%;
  right: 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 -3px 13px -4px #0000000d, 0 8px 9px -5px #0000000d;
  padding: 4px 0px;

  opacity: 0;
  pointer-events: none;
  transform-origin: 50% 0;
  transform: perspective(999px) rotateX(-10deg) translateZ(0)
    translate3d(0, 1px, 0) !important;
  will-change: transform, box-shadow;

  transition: 0.2s ease;
}

.dropdown_show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: perspective(999px) rotateX(0deg) translateZ(0)
    translate3d(0, 1px, 0) !important;
}

.dropdown button {
  padding: 8px 16px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: start;
  transition: all 0.3s ease;
}

.dropdown a {
  padding: 6px 16px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: start;
  transition: all 0.3s ease;
}

.dropdown.hover_left a:hover {
  padding-left: 18px;
}

.dropdown.border_hover a {
  border: 1px solid transparent;
}

.dropdown.border_hover a:hover {
  border: 1px solid #ddd;
  border-radius: 6px;
}

.dropdown button:hover {
  background: #ececec;
}
